@media screen and (max-width: 640px) {
    /* reglas CSS */
}

@media screen and (max-width: 1024px) and (min-width: 640px) {
    /* reglas CSS */
}

@media screen and (min-width: 1024px) {
    /* reglas CSS */
}

body {
    margin: 0;
    text-align: center;
    display: flex;
    justify-content: center;
    overflow: hidden;
}

iframe {
    display: block;
    background: rgba(255, 255, 255, 255);
    border: none;
    height: 100vh;
    width: 100vw;
    overflow-x: hidden !important;
    /*overflow-y: hidden !important;*/
}

.icon-unselected {
    color: white;
    background-color: #ffffff;
}

.icon-selected {
    color: red;
    background-color: red;
}

.icon-background-selected {
    color: white;
}

.cobrowsing_iframe {
    overscroll-behavior: none; /*   <--- the trick    */
}

.cobrowsing_iframe_agent {
    display: block;
    margin: 0 auto;
    /*width: 600px;*/
    /*height: 800px;*/
    /*zoom: 0.89;*/
    /*-moz-transform: scale(0.89);*/
    /*-moz-transform-origin: 0 0;*/
    /*-o-transform: scale(0.89);*/
    /*-o-transform-origin: 0 0;*/
    /*-webkit-transform: scale(0.89);*/
    /*-webkit-transform-origin: 0 0;*/
}

.cobrowsing_pointer {
    -webkit-align-content: flex-start;
    align-content: flex-start;
    position: absolute;
    width: 72px;
    top: 0px;
    left: 0px;
    z-index: 9999;
    visibility: hidden;
}

.cobrowsing_pointer_agent_label {
    font-size: 12px;
    top: 40px;
    padding: 4px 8px;
    background-color: #ff2435;
    color: rgb(248, 255, 255);
    border-radius: 6px;
    text-align: center;
    z-index: 9999;
}

.cobrowsing_pointer_client_label {
    font-size: 12px;
    padding: 4px 8px;
    background-color: #0200ff;
    color: rgb(255, 255, 255);
    border-radius: 6px;
    text-align: center;
    z-index: 500;
}

.cobrowsing_panel {
    position: absolute;
    margin: 0px auto;
    vertical-align: middle;
    top: -80px;
    width: 250px;
    padding: 10px;
    background-color: #ffffff;
    color: rgba(52, 41, 26, 0.78);
    border-radius: 0px 0px 8px 8px;
    text-align: center;
    box-shadow: 0px 4px 2px #999;
    z-index: 999;
}

.cobrowsing_key_input {
    width: 70px;
    font-size: 13px;
}